<a href="https://colab.research.google.com/github/jaalt1/projects/blob/starter_notebook_add/starter_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import duckdb

In [4]:
# Load sample df
iris = sns.load_dataset('iris')

## Preview data with Pandas
Docs: https://pandas.pydata.org/docs/reference/frame.html

In [12]:
# head shows first n rows
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [13]:
# describe shows statistical summary
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [14]:
# shape shows size (rows, columns)
iris.shape

(150, 5)

In [36]:
# sample shows randomly sampled rows from the dataset
iris.sample(5)

     sepal_length  sepal_width  petal_length  petal_width     species
75            6.6          3.0           4.4          1.4  versicolor
115           6.4          3.2           5.3          2.3   virginica
20            5.4          3.4           1.7          0.2      setosa
141           6.9          3.1           5.1          2.3   virginica
60            5.0          2.0           3.5          1.0  versicolor

## Preview data with duckdb
Docs: https://duckdb.org/docs/

In [37]:
duckdb.query("SELECT * FROM iris using sample 10").to_df()

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.1          3.0           4.6          1.4  versicolor
1           6.3          2.5           5.0          1.9   virginica
2           5.2          3.4           1.4          0.2      setosa
3           4.3          3.0           1.1          0.1      setosa
4           5.0          3.6           1.4          0.2      setosa
5           4.4          3.2           1.3          0.2      setosa
6           6.0          3.0           4.8          1.8   virginica
7           5.4          3.4           1.7          0.2      setosa
8           5.8          2.8           5.1          2.4   virginica
9           5.8          2.6           4.0          1.2  versicolor